#fortuneQuiz .question  {width:47.8%;display: inline-block;vertical-align: top;text-align: center;margin:10px 1%;border:1px solid #666;border-radius: 5px;padding:20px;}

#fortuneQuiz .question > div {width:100px;display:inline-block;}
#tellerImage {display: block; margin: auto;}
.jumbotron {text-align: center; background-color: black; color: white;}
.fortuneText {background-color: rgba(255, 255, 255, .6); font-size: 30px;
margin: 20%;padding:1% 3%;border-radius: 5px;}
#fortune {display: none;height:0px;position: absolute;top:620px;left:0;right:0;margin:auto;opacity: 0;background-size:cover;}
